//Cores
$primeira-cor: #F3F5F7;
$segunda-cor: #92E3A9;
$terceira-cor: #FFFFFF;
$quarta-cor: #000000;
$quinta-cor: #A1C3FC;
$sexta-cor: #83CC98;

//Fontes
$fonte: 'Poppins', sans-serif;
$tamanho-do-texto: 1.5rem;